
 body {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
}

.container{
    border-radius: 10px;
    min-height: 400px;
    width:500px;
    background-color: #353b4f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3{
    display: flex;
}

button{
    background-color: yellow;
    border: none;
    border-radius: 40px;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
}